* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
h2,
h3,
h4,
h5 {
  font-size: 100%;
  font-weight: normal;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.search-form {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;

  background-color: #1c42ba;
}

.search-form input,
.search-form button {
  height: 40px;
  border-radius: 3px;
}

/*gallery*/

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 12px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .gallery {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1600px;
  }
}

.gallery-box {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: -30px;
  margin-bottom: -30px;
}

.photo-card {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: 100%;
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .photo-card {
    flex-basis: calc(50% - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .photo-card {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.photo-card:hover {
  transform: scale(1.03);
}

.photo-img {
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
/* -------------------------------------------------------------------- */
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery__link {
  display: block;
  text-decoration: none;
}

.gallery__link:hover {
  cursor: zoom-in;
}
